services:
  booking-robot:
    image: heindetotverre/booking-robot:latest
    platform: linux/amd64
    restart: unless-stopped
    environment:
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
      - TZ=Europe/Amsterdam
    ports:
      - 3000:3000
    command: node .output/server/index.mjs